body {
	margin: 0;
	padding: 20px;
	color: #333;
	background-color: #efefef;
	font: 87.5%/1.4 HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}

figure {
	margin: 0;
	padding: 0;
}

figcaption {
	font-family: "Georgia","Times New Roman",serif;
	text-align: center;
	padding: 0.5em 0 1em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Georgia","Times New Roman",serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 328.571%;
    margin-bottom: 0.2em;
}

h1.title {
	text-align: center;
}

h2 {
    font-size: 250%;
    margin-bottom: 0.2em;
}

h3 {
    font-size: 150%;
    margin-bottom: 0.2em;
}

p {
	margin:0;
	padding: 0 0 1em 0;
}

.wrapper {
	background-color: #fff;
	color: #444; 
	padding: 1em 3% 1em 3%;
	margin: 0 auto 1em auto;

}

.mainnav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 120%;
}

.mainnav a:link, .mainnav a:visited {
	text-decoration: none;
	color: #444;
}

.quote {
	font: 150%/1.4 "Georgia","Times New Roman",serif;
	padding: 0;
	margin: 0;
}